<h2 style="margin-top: 0">Checkout the code on <a href="https://github.com/humphreyja/hotwire-components" target="_blank">Github</a></h2>

<!-- This is for a bug with stimulus and turbo that will be fixed in a later release -->
<div data-controller="popup input_calendar"></div>

<%= turbo_frame_tag "calendar", src: calendar_components_path %>