<h2 style="margin-top: 0">Checkout the code on <a href="https://github.com/humphreyja/hotwire-components" target="_blank">Github</a></h2>

<%= turbo_frame_tag "calendar", src: calendar_components_path %>