body {
	max-width: 900px;
	margin: 20px auto;
	font-family:	sans-serif;
	color: #333;
}

main {
	border: 1px solid #eee;
	border-radius: 8px;
	padding: 10px;
}

.text-primary {
	color: #1e88f7;
}

.clickable {
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		opacity: 0.8;
	}
}

turbo-frame[busy] {
	&::before {
		content: 'loading...';
	}
}